.Title {
    text-align: center;
}

.Images {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image_card1 {
    position: relative; 
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    opacity: 0;
    z-index: 99;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.label1 {
    font-weight: bold;
    text-align: center;
    transform: translate(0%, 1000%); 
}

.image_card1:hover {
    cursor: pointer;
}

.image_card1:hover .overlay1 {
    opacity: 0.9;
}

.image_card2 {
    position: relative; 
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    opacity: 0;
    z-index: 99;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.label2 {
    font-weight: bold;
    text-align: center;
    transform: translate(0%, 1000%); 
}

.image_card2:hover {
    cursor: pointer;
}

.image_card2:hover .overlay2 {
    opacity: 0.9;
}

.image_card3 {
    position: relative; 
}

.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    opacity: 0;
    z-index: 99;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.label3 {
    font-weight: bold;
    text-align: center;
    transform: translate(0%, 1000%); 
}

.image_card3:hover {
    cursor: pointer;
}

.image_card3:hover .overlay3 {
    opacity: 0.9;
}

.img {
    display: block;
    height: 600px;
    width: 600px;
    object-fit: scale-down;
}


@media (prefers-reduced-motion: no-preference) {
    .Images {
      animation: fadeIn 2s;
    }
  }
  
  @keyframes fadeIn {
    from {
     opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }