@media (prefers-reduced-motion: no-preference) {
  .cardWrapper {
    animation: fadeIn 5s;
  }
}
  
@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}


.cardWrapper {
  background: white;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 2%;
}


.cardWrapper:hover {
  border-color: #48b98f;
  color: #48b98f;
}

.imageWrapper {
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-left: 10px;
}

.textContainer {
  padding: 2px 16px;
  flex-grow: 1;
}

.name {
  color: black;
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
}

.user {
  color: black;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
}